@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h5>Welcome to CashFlow!</h5>
<p>These terms and conditions describe the rules for using the Cash Flow Software company website located at <a href="https://github.com/EduSpada/CashFlowMJV">CashFlowMJV.</a></p>
<p></p>
<p>By accessing this site, we assume that you agree to the terms and conditions below. Do not continue to use CashFlow if you disagree with the terms and conditions described in this agreement.</p>
<p></p>
<h5>Cookies:</h5>
<p>The website uses cookies to help personalize your internet experience. By accessing the CashFlow website, you agree to the use of required cookies.</p>
<p></p>
<p>Cookies are text files placed on your hard drive by a web page server. Cookies are not allowed to run programs or transfer viruses to your computer. Cookies are uniquely associated with you and can only be read by the web server for the domain that issued the cookie.</p>
<p></p>
<p>We may use cookies to collect, store or track information for statistical and marketing purposes on our website. You have the option to accept or reject optional cookies. There are some mandatory cookies, which are necessary for our website to function. These mandatory cookies require your consent. Please keep in mind that by accepting mandatory cookies you are also accepting third-party cookies, which may be used by third parties if you use services provided by them on our website – for example, a video playback window provided by third-party companies and integrated into our website.</p>
<p></p>
<h5>License:</h5>
<p>Except where otherwise noted, Cash Flow Software and its licensors own intellectual property rights in all material posted on CashFlow. All intellectual property rights are reserved.</p>
<p></p>
<h5>You are not allowed to:</h5>
<p></p>
<p>Copying or reposting CashFlow materials</p>
<p>Sell, rent or sublet CashFlow materials</p>
<p>Reproduce, duplicate or copy CashFlow materials</p>
<p>Redistribute CashFlow content</p>
<p>This Agreement will be effective as of the present date.</p>
<p></p>
<p>Portions of this site offer the user the opportunity to post and discuss opinions and information in certain areas. Cash Flow Software does not filter, edit, publish or review Comments before they are displayed on the site. Comments reflect the views of the person posting them. To the extent applicable law permits, Cash Flow Software is not legally responsible for the Comments or any damages, risks or expenses caused or incurred as a result of using, and/or posting and/or the appearance of the Comments on this website.</p>
<p></p>
<p>Cash Flow Software reserves the right to remove any Comments that may be deemed inappropriate, offensive or in breach of the Terms and Conditions of this agreement.</p>
<p></p>
<h5>You represent and warrant that:</h5>
<p></p>
<p>You have the right to post Comments on our website and have all licenses and consents to do so;</p>
<p>Your Comments do not invade any intellectual property, including third party copyrights, patents or trademarks;</p>
<p>Your Comments do not contain material that is defamatory, libelous, offensive, indecent or otherwise unlawful, which is an invasion of privacy.</p>
<p>Your Comments will not be used to solicit or promote business or to present commercial activities or illegal activities.</p>
<p>You hereby grant the Cash Flow Software a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce or edit any of your Comments in any and all forms, formats and media.</p>
<p></p>
<p>Creating links to our content</p>
<p>The following organizations may link to our Site without prior written approval:</p>
<p></p>
<p>Government agencies;</p>
<p>Search engines;</p>
<p>Media organizations;</p>
<p>Online directory distributors may link to our Site in the same way that they link to the Sites of other listed companies; It is</p>
<p>Accredited companies, other than nonprofit fundraising organizations and charitable fundraising groups, may not link to our Site without prior approval.</p>
<p>These organizations may post links to our homepage, publications or other information on the Site, provided the link: (a) is not misleading in any way; (b) does not falsely imply the existence of a sponsorship, endorsement, or approval of our products and/or services; and (c) is appropriate to the context in which it is being inserted.</p>
<p></p>
<h5>We may consider and approve link requests made by the following types of organizations:</h5>
<p></p>
<p>well-known sources of information about products and businesses;</p>
<p>dot-com community sites;</p>
<p>associations and other groups representing charities;</p>
<p>online directory distributors;</p>
<p>internet portals;</p>
<p>law, and consulting firms; It is</p>
<p>educational institutions and class associations.</p>
<p>We will approve link requests made by the types of organizations listed above if we believe that: (a) the link does not</p>
